* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.overflow {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}