* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url('../img/main/main__bg.png');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overflow {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.d-block {
    display: block;
}

.show {
    display: block;
}


.hide {
    display: none;
}

.invalid {
    border: 2px solid red;
}