.btn {
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 18px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;

    &:active {
        box-shadow: $shadowActive;
    }

    &:hover {
        background-position: right center;
        text-decoration: none;
    }
}