.create {
    background: $backgroundForm;
    border-radius: 20px;
    box-shadow: $shadow;
    margin-top: 30px;
    padding: 30px 30px;
    width: 650px;


    &__title {
        color: $mainTextColor;
        font-size: 28px;
    }

    &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        color: $mainTextColor;
        font-size: 16px;
        margin-top: 15px;
        width: 100%;

        &:nth-child(2) {
            margin-top: 30px;
        }
    }

    &__label {
        display: block;
    }

    &__input {
        border-radius: 15px;
        border: 2px solid transparent;
        box-shadow: $shadow;
        color: $mainColor;
        font-size: 16px;
        outline: none;
        padding: 15px;
        width: 100%;

        &:focus {
            border: 2px solid $mainColor;
        }
    }

    &__textarea {
        border-radius: 15px;
        border: 2px solid transparent;
        box-shadow: $shadow;
        color: $mainColor;
        font-size: 18px;
        height: 100px;
        outline: none;
        padding: 15px;
        resize: none;
        width: 100%;

        &:focus {
            border: 2px solid $mainColor;
        }
    }

    &__select {
        border-radius: 15px;
        border: none;
        border: 2px solid transparent;
        box-shadow: $shadow;
        color: $mainColor;
        font-size: 16px;
        margin-top: 10px;
        outline: none;
        padding: 15px;
        width: 100%;

        &:focus {
            border: 2px solid $mainColor;
        }
    }

    &__option {
        background: #fff;
        color: $mainColor;
        font-weight: 700;
        font-size: 16px;
    }

    &__btn {
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        padding: 15px;
        text-transform: uppercase;
        width: 100%;
    }

}