.favorites {
    align-items: center;
    background: $backgroundForm;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 20px;
    text-align: center;
    width: 650px;


    &__empty {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px;
    }

    & li {
        display: flex;
        flex-direction: column;
    }

    & .posts__wrapper {
        margin: 0;
        width: 100%;
    }

    &__link {
        color: $mainTextColor;
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
        position: relative;
        padding: 10px 0;
        transition: 0.5s ease;
        word-break: break-all;

        &::after {
            content: '';
            bottom: 0;
            background: #000;
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            transition: 0.5s ease;
            width: 40%;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: $mainColor;
        }

    }
}