.favorites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px 20px;
    background: $backgroundForm;
    border-radius: 20px;
    width: 650px;
    text-align: center;
    box-shadow: $shadow;

    &__empty {
        font-size: 20px;
        font-weight: 700;
        color: $mainTextColor;
    }

    & li {
        display: flex;
        flex-direction: column;
    }

    & .posts__wrapper {
        width: 100%;
        margin: 0;
    }

    &__link {
        padding: 10px 0;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        color: $mainTextColor;
        transition: 0.1s ease;

        &:hover {
            color: $mainColor;
            transform: scale(1.1);
        }
    }
}