.favorites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 30px 40px;
    background: $backgroundForm;
    border-radius: 20px;
    width: 650px;
    text-align: center;
    box-shadow: $shadow;

    &__empty {
        font-size: 20px;
        font-weight: 700;
        color: $mainTextColor;
    }

    & li {
        display: flex;
        flex-direction: column;
    }

    & .posts__wrapper {
        width: 100%;
        margin: 0;
    }

    &__link {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        color: $mainTextColor;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            color: $mainColor;
        }
    }
}