.main {
    padding: 5% 0;

    &__wrapper {
        align-items: center;
        background: $backgroundForm;
        border-radius: 20px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        max-width: 650px;
        margin: 40px auto;
        padding: 50px 40px;
    }

    &__title {
        color: $mainTextColor;
        font-size: 37px;
    }

    &__text {
        color: $mainTextColor;
        font-size: 22px;
        line-height: 26px;
        margin-top: 100px;
        text-align: center;
        width: 90%;
    }

    &__btn {
        font-size: 20px;
        margin-top: 100px;
        padding: 15px;
        text-transform: uppercase;
        width: 50%;
    }
}