.navigation {
    &__tabs {
        display: flex;
        justify-content: space-between;
        width: 650px;
    }

    &__tab {
        width: 210px;
    }

    &__link {
        position: relative;
        padding: 15px 0;
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: 700;
        background: $backgroundForm;
        color: $colorHover;
        text-align: center;
        border-radius: 18px;
        transition: 0.15s ease;

        &.active {
            background: $colorHover;
            color: $backgroundForm;
        }

        &:hover {
            margin-top: -8px;
            // background: $colorHover;
            // color: $backgroundForm;
        }

        &:active {
            box-shadow: $shadowActive;
        }

    }
}

.heart {
    &::after {
        content: '♡';
        position: absolute;
        top: 8px;
        left: 136px;
    }
}