.navigation {
    &__tabs {
        display: flex;
        justify-content: space-between;
        width: 650px;
    }

    &__tab {
        width: 210px;
    }

    &__link {
        background: $backgroundForm;
        border-radius: 18px;
        color: $colorHover;
        display: block;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        padding: 15px 0;
        text-align: center;
        transition: 0.2s ease;
        width: 100%;

        &.active {
            background: $colorHover;
            color: $backgroundForm;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            box-shadow: $shadowActive;
        }

    }
}

.heart {
    &::after {
        content: '♡';
        left: 136px;
        position: absolute;
        top: 8px;
    }
}