.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 820px;

    &__wrapper {
        background: #fff;
        border-radius: 18px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        width: 370px;
    }

    &__item {
        align-items: center;
        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 20px 20px;
        word-break: break-all;

        &:nth-child(1) {
            box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        }

        &:nth-child(2) {
            box-shadow: none;
        }
    }

    &__title {
        color: $mainTextColor;
        font-size: 22px;
        max-width: 220px;
        text-align: left;
        word-break: break-all;
    }

    &__label {
        background: $mainTextColor;
        box-shadow: $shadow;
        border-radius: 10px;
        color: #fff;
        font-size: 11px;
        padding: 9px;
        text-transform: uppercase;
        text-align: center;
        width: 62px;
    }

    &__data {
        font-size: 16px;
        font-weight: 700;
    }

    &__btn {
        border-radius: 50%;
        font-size: 24px;
        min-width: 50px;
        padding: 10px 10px;

    }

    &__delete {
        background: rgba(34, 60, 80, 0.6);
        border-radius: 50%;
        border: none;
        color: #fff;
        cursor: pointer;
        position: absolute;
        padding: 8px;
        right: -22px;
        top: -18px;
        transition: 0.2s ease;
        width: 35px;

        &:hover {
            background: $mainTextColor;
        }

        &:active {
            box-shadow: $shadowActive;
        }
    }
}