.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;

    &__wrapper {
        display: flex;
        margin-top: 30px;
        width: 370px;
        justify-content: space-between;
        flex-direction: column;
        background: #fff;
        border-radius: 18px;
        box-shadow: $shadow;
    }

    &__item {
        display: flex;
        position: relative;
        justify-content: space-between;
        word-break: break-all;
        padding: 20px 20px;
        align-items: center;
        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;

        &:nth-child(1) {
            box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        }

        &:nth-child(2) {
            box-shadow: none;
        }
    }

    &__title {
        max-width: 220px;
        word-break: break-all;
        font-size: 22px;
        text-align: left;
        color: $mainTextColor;
    }

    &__label {
        padding: 9px;
        font-size: 11px;
        width: 62px;
        color: #fff;
        background: $mainTextColor;
        box-shadow: $shadow;
        border-radius: 10px;
        text-transform: uppercase;
        text-align: center;
    }

    &__data {
        font-size: 16px;
        font-weight: 700;
    }

    &__btn {
        min-width: 50px;
        font-size: 24px;
        padding: 10px 10px;
        border-radius: 50%;
    }

    &__delete {
        position: absolute;
        width: 35px;
        top: -18px;
        right: -22px;
        padding: 8px;
        background: rgba(34, 60, 80, 0.6);
        border-radius: 50%;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            background: $mainTextColor;
        }
    }
}